In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [5]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [8]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    job_title.append(i.text)
for i in job_title:
    print(i)

Data Analyst/Senior Analyst - R/SQL/Python
Data Analyst
data analyst / data analytics - US MNC (analytics)
Business Data Analyst (Sr Exe / Asst Manager)
Junior Data Analyst/ Scientist- Fresher Position
Staff Data Analyst
Reference Data Analyst
Sr Data Analyst
Job Opportunity with Leading MNC - Senior Data Analyst
Manager/Senior Manager - Data Analyst

In [9]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    job_location.append(i.text)
for i in job_location:
    print(i)

Temp. WFH - Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Delhi / NCR
Bangalore/Bengaluru
Temp. WFH - Bangalore/Bengaluru, Gurgaon/Gurugram
Bangalore/Bengaluru
Hybrid - Bangalore/Bengaluru, New Delhi, Mumbai (All Areas)
Bangalore/Bengaluru
Bangalore/Bengaluru
Hybrid - Bangalore/Bengaluru
Bangalore/Bengaluru
Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Ahmedabad, Jaipur, Delhi / NCR

In [10]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)
for i in company_name:
    print(i)

The Nikharv Consultancy
Target
Aspyra Hr Services
Talentleads
Sejal Consulting Hub
Walmart
Deutsche Bank
Amolitalents
Enrich And Enlight Business Consulting
Huquo Consulting Pvt. Ltd

In [11]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience_required.append(i.text)
for i in experience_required:
    print(i)

3-6 Yrs
2-4 Yrs
3-8 Yrs
3-5 Yrs
0-5 Yrs
10-14 Yrs
6-8 Yrs
6-9 Yrs
5-7 Yrs
2-7 Yrs

In [12]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [13]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company Name':company_name,'Experience':experience_required})
df

,Title,Location,Company Name,Experience
0,Data Analyst/Senior Analyst - R/SQL/Python,"Temp. WFH - Bangalore/Bengaluru, Kolkata, Mumb...",The Nikharv Consultancy,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Target,2-4 Yrs
2,data analyst / data analytics - US MNC (analyt...,"Temp. WFH - Bangalore/Bengaluru, Gurgaon/Gurugram",Aspyra Hr Services,3-8 Yrs
3,Business Data Analyst (Sr Exe / Asst Manager),Bangalore/Bengaluru,Talentleads,3-5 Yrs
4,Junior Data Analyst/ Scientist- Fresher Position,"Hybrid - Bangalore/Bengaluru, New Delhi, Mumba...",Sejal Consulting Hub,0-5 Yrs
5,Staff Data Analyst,Bangalore/Bengaluru,Walmart,10-14 Yrs
6,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,6-8 Yrs
7,Sr Data Analyst,Hybrid - Bangalore/Bengaluru,Amolitalents,6-9 Yrs
8,Job Opportunity with Leading MNC - Senior Data...,Bangalore/Bengaluru,Enrich And Enlight Business Consulting,5-7 Yrs
9,Manager/Senior Manager - Data Analyst,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Huquo Consulting Pvt. Ltd,2-7 Yrs

In [14]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [15]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [16]:
driver.get("https://www.naukri.com/")

In [17]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [18]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [19]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [20]:
job_title=[]
job_location=[]
company_name=[]

In [21]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    job_title.append(i.text)
for i in job_title:
    print(i)

Data Scientist
Data Scientist
Analystics & Modeling Specialist
Data Science Specialist
Lead Data Scientist
Data Scientist
Data Scientist
Staff Data Analyst
Data Scientist
Data Scientist Knowledge graph

In [22]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    job_location.append(i.text)
for i in job_location:
    print(i)

Bangalore/Bengaluru, Noida, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Gurgaon/Gurugram
Temp. WFH - Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Mumbai (All Areas)
Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai
Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai
Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Chennai, Mumbai (All Areas)
Hybrid - Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Chennai, Mumbai (All Areas)
Bangalore/Bengaluru
Bangalore/Bengaluru
Bangalore/Bengaluru
Hybrid - Bangalore/Bengaluru, Pune

In [23]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)
for i in company_name:
    print(i)

Capgemini
Tech Mahindra
Accenture
Accenture
Birlasoft
Birlasoft
ANZ
Walmart
ANZ
Capco

In [25]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [26]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company Name':company_name})
df

,Title,Location,Company Name
0,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Capgemini
1,Data Scientist,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Tech Mahindra
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
4,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft
5,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Hyderabad...",Birlasoft
6,Data Scientist,Bangalore/Bengaluru,ANZ
7,Staff Data Analyst,Bangalore/Bengaluru,Walmart
8,Data Scientist,Bangalore/Bengaluru,ANZ
9,Data Scientist Knowledge graph,"Hybrid - Bangalore/Bengaluru, Pune",Capco

In [57]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [58]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [59]:
driver.get("https://www.naukri.com/")

In [60]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [61]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [62]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
location.click()

In [63]:
salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
salary.click()

In [65]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    job_title.append(i.text)
for i in job_title:
    print(i)

Analyst-Data Science
Analyst-Data Science
Data Scientist
Data Scientist
AWS Data Warehouse Developer - IT Industry
Data Scientist
Data Scientist
Data Scientist
Junior Data Scientist
Modeler

In [66]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    job_location.append(i.text)
for i in job_location:
    print(i)

Gurgaon/Gurugram
Gurgaon/Gurugram
Delhi / NCR, Noida(Sector-136 Noida), Ghaziabad, Greater Noida
Noida
Delhi / NCR, Bangalore/Bengaluru, Maharashtra
Permanent Remote
Noida
Dehradun, Hyderabad/Secunderabad, Gurgaon/Gurugram
Delhi / NCR
Noida

In [67]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)
for i in company_name:
    print(i)

AMERICAN EXPRESS
AMERICAN EXPRESS
Extramarks Education
Gujarat Fluorochemicals
GenNext India Private Limited
Vizlogic Digital Solutions
Metrix Research & Analytics
torcai digital media
Skyleaf Consultants
Resource Access Management Solutions Pvt. Ltd.

In [68]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience_required.append(i.text)
for i in experience_required:
    print(i)

0-3 Yrs
0-3 Yrs
3-5 Yrs
1-2 Yrs
4-9 Yrs
2-5 Yrs
3-7 Yrs
2-7 Yrs
2-4 Yrs
3-7 Yrs

In [69]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [70]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company Name':company_name,'Experience':experience_required})
df

,Title,Location,Company Name,Experience
0,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
1,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
2,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,3-5 Yrs
3,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs
4,AWS Data Warehouse Developer - IT Industry,"Delhi / NCR, Bangalore/Bengaluru, Maharashtra",GenNext India Private Limited,4-9 Yrs
5,Data Scientist,Permanent Remote,Vizlogic Digital Solutions,2-5 Yrs
6,Data Scientist,Noida,Metrix Research & Analytics,3-7 Yrs
7,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
8,Junior Data Scientist,Delhi / NCR,Skyleaf Consultants,2-4 Yrs
9,Modeler,Noida,Resource Access Management Solutions Pvt. Ltd.,3-7 Yrs

In [306]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
from time import sleep

In [307]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [308]:
driver.get("https://www.flipkart.com/")

In [309]:
login_cut=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
login_cut.click()

In [310]:
search_element=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")

In [311]:
search_btn=driver.find_element(By.CLASS_NAME,"L0Z3Pu")

In [312]:
search_element.send_keys('sunglasses')
sleep(1)
search_btn.click()

In [87]:
brand_name=[]
brands=driver.find_elements(By.CLASS_NAME,"_2WkVRV")
for i in brands:
    brand_name.append(i.text)
for i in brand_name:
    print(i)

PC STAR
SRPM
Fastrack
Elligator
Elligator
Fastrack
Elligator
Elligator
PHENOMENAL
LIZA ANGEL
SHAAH COLLECTIONS
ROZZETTA CRAFT
VINCENT CHASE
Elligator
SRPM
Elligator
PIRASO
PIRASO
SRPM
ROZZETTA CRAFT
New Specs
Fastrack
Fastrack
SRPM
ROZZETTA CRAFT
LIZA ANGEL
SUNBEE
ROZZETTA CRAFT
PIRASO
SRPM
EYELLUSION
Silver Kartz
PIRASO
LIZA ANGEL
PIRASO
ARICKS
VINCENT CHASE
ROZZETTA CRAFT
Fastrack
Eyewearlabs

In [88]:
description=[]
descript=driver.find_elements(By.CLASS_NAME,"IRpwTa")
for i in descript:
    description.append(i.text)
for i in description:
    print(i)

Riding Glasses, UV Protection Retro Square Sunglasses (...
UV Protection Wayfarer Sunglasses (53)
UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Cat-eye, Retro Square, Oval, Round Sungla...
UV Protection Cat-eye, Retro Square, Oval, Round Sungla...
UV Protection Rectangular Sunglasses (Free Size)
UV Protection Round Sunglasses (54)
UV Protection Wayfarer Sunglasses (53)
UV Protection Retro Square Sunglasses (53)
Riding Glasses, Night Vision Spectacle Sunglasses (Fre...
UV Protection, Polarized, Mirrored Rectangular Sunglass...
UV Protection, Gradient Round Sunglasses (Free Size)
UV Protection Wayfarer Sunglasses (59)
UV Protection Round Sunglasses (53)
UV Protection Wayfarer Sunglasses (50)
UV Protection, Mirrored Wayfarer Sunglasses (54)
UV Protection Aviator Sunglasses (58)
UV Protection Rectangular Sunglasses (52)
Night Vision, UV Protection Round Sunglasses (54)
UV Protection, Gradient Rectangular Sunglasses (Free Si...
UV Protection Rectangular Sunglasses (Free Size)
Gradient, UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Aviator Sunglasses (Free Size)
Others Wayfarer, Retro Square, Rectangular Sunglasses (...
UV Protection Aviator Sunglasses (55)
UV Protection, Polarized Rectangular Sunglasses (Free S...
UV Protection Rectangular Sunglasses (Free Size)
UV Protection Spectacle Sunglasses (Free Size)
UV Protection Aviator Sunglasses (54)
Others Wayfarer, Retro Square Sunglasses (50)
Night Vision, Polarized, UV Protection, Riding Glasses ...
UV Protection Aviator Sunglasses (88)
UV Protection Clubmaster Sunglasses (54)
Riding Glasses, UV Protection, Night Vision Spectacle ...
UV Protection Aviator Sunglasses (Free Size)
UV Protection, Polarized Rectangular Sunglasses (Free S...
by Lenskart Polarized, UV Protection Aviator Sunglasses...
Polarized, Riding Glasses Sports, Wrap-around Sunglasse...
UV Protection Wayfarer Sunglasses (Free Size)
Polarized, UV Protection Aviator Sunglasses (60)

In [90]:
prices=[]
price=driver.find_elements(By.CLASS_NAME,"_30jeq3")
for i in price[:40]:
    prices.append(i.text)
for i in prices:
    print(i)

₹282
₹199
₹599
₹149
₹129
₹499
₹229
₹179
₹129
₹174
₹129
₹391
₹599
₹149
₹149
₹179
₹274
₹182
₹179
₹423
₹259
₹579
₹579
₹199
₹649
₹129
₹129
₹398
₹244
₹129
₹281
₹266
₹257
₹129
₹268
₹259
₹999
₹471
₹579
₹1,518

In [91]:
sleep(5)
next_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_btn.click()

In [92]:
brands=driver.find_elements(By.CLASS_NAME,"_2WkVRV")
for i in brands:
    brand_name.append(i.text)
for i in brand_name:
    print(i)

PC STAR
SRPM
Fastrack
Elligator
Elligator
Fastrack
Elligator
Elligator
PHENOMENAL
LIZA ANGEL
SHAAH COLLECTIONS
ROZZETTA CRAFT
VINCENT CHASE
Elligator
SRPM
Elligator
PIRASO
PIRASO
SRPM
ROZZETTA CRAFT
New Specs
Fastrack
Fastrack
SRPM
ROZZETTA CRAFT
LIZA ANGEL
SUNBEE
ROZZETTA CRAFT
PIRASO
SRPM
EYELLUSION
Silver Kartz
PIRASO
LIZA ANGEL
PIRASO
ARICKS
VINCENT CHASE
ROZZETTA CRAFT
Fastrack
Eyewearlabs
Fastrack
PIRASO
Sewell
PC STAR
Fastrack
Elligator
PIRASO
SRPM
Elligator
Elligator
Fastrack
Elligator
NuVew
VINCENT CHASE
ROYAL SON
Elligator
New Specs
SUNBEE
ROZZETTA CRAFT
SRPM
Satyam Kraft
PIRASO
VINCENT CHASE
ROZZETTA CRAFT
Fastrack
kingsunglasses
SUNBEE
ROZZETTA CRAFT
NuVew
VINCENT CHASE
PIRASO
Elligator
ROYAL SON
Fastrack
LIZA ANGEL
SRPM
VINCENT CHASE
Fastrack
kingsunglasses
ROZZETTA CRAFT

In [93]:
descript=driver.find_elements(By.CLASS_NAME,"IRpwTa")
for i in descript:
    description.append(i.text)
for i in description:
    print(i)

Riding Glasses, UV Protection Retro Square Sunglasses (...
UV Protection Wayfarer Sunglasses (53)
UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Cat-eye, Retro Square, Oval, Round Sungla...
UV Protection Cat-eye, Retro Square, Oval, Round Sungla...
UV Protection Rectangular Sunglasses (Free Size)
UV Protection Round Sunglasses (54)
UV Protection Wayfarer Sunglasses (53)
UV Protection Retro Square Sunglasses (53)
Riding Glasses, Night Vision Spectacle Sunglasses (Fre...
UV Protection, Polarized, Mirrored Rectangular Sunglass...
UV Protection, Gradient Round Sunglasses (Free Size)
UV Protection Wayfarer Sunglasses (59)
UV Protection Round Sunglasses (53)
UV Protection Wayfarer Sunglasses (50)
UV Protection, Mirrored Wayfarer Sunglasses (54)
UV Protection Aviator Sunglasses (58)
UV Protection Rectangular Sunglasses (52)
Night Vision, UV Protection Round Sunglasses (54)
UV Protection, Gradient Rectangular Sunglasses (Free Si...
UV Protection Rectangular Sunglasses (Free Size)
Gradient, UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Aviator Sunglasses (Free Size)
Others Wayfarer, Retro Square, Rectangular Sunglasses (...
UV Protection Aviator Sunglasses (55)
UV Protection, Polarized Rectangular Sunglasses (Free S...
UV Protection Rectangular Sunglasses (Free Size)
UV Protection Spectacle Sunglasses (Free Size)
UV Protection Aviator Sunglasses (54)
Others Wayfarer, Retro Square Sunglasses (50)
Night Vision, Polarized, UV Protection, Riding Glasses ...
UV Protection Aviator Sunglasses (88)
UV Protection Clubmaster Sunglasses (54)
Riding Glasses, UV Protection, Night Vision Spectacle ...
UV Protection Aviator Sunglasses (Free Size)
UV Protection, Polarized Rectangular Sunglasses (Free S...
by Lenskart Polarized, UV Protection Aviator Sunglasses...
Polarized, Riding Glasses Sports, Wrap-around Sunglasse...
UV Protection Wayfarer Sunglasses (Free Size)
Polarized, UV Protection Aviator Sunglasses (60)
UV Protection Wayfarer Sunglasses (Free Size)
Polarized Wrap-around Sunglasses (45)
Mirrored, Night Vision, UV Protection, Riding Glasses S...
Riding Glasses, UV Protection Retro Square Sunglasses (...
UV Protection Wayfarer Sunglasses (Free Size)
Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)
UV Protection Wayfarer Sunglasses (32)
UV Protection Wayfarer Sunglasses (53)
UV Protection Aviator, Wayfarer Sunglasses (54)
UV Protection Round Sunglasses (53)
Gradient, UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Round Sunglasses (53)
UV Protection, Mirrored Wayfarer Sunglasses (58)
Polarized, UV Protection Round Sunglasses (51)
UV Protection Rectangular, Retro Square Sunglasses (58)
UV Protection Wayfarer Sunglasses (53)
UV Protection Retro Square Sunglasses (Free Size)
UV Protection Rectangular Sunglasses (Free Size)
UV Protection Aviator Sunglasses (62)
Riding Glasses, Mirrored Wayfarer Sunglasses (54)
Others Spectacle Sunglasses (Free Size)
UV Protection Over-sized Sunglasses (65)
by Lenskart Polarized, UV Protection Aviator Sunglasses...
UV Protection, Gradient Round Sunglasses (Free Size)
UV Protection Shield Sunglasses (Free Size)
UV Protection Rectangular Sunglasses (Free Size)
UV Protection, Polarized Wayfarer Sunglasses (Free Size...
UV Protection, Gradient Rectangular Sunglasses (Free Si...
UV Protection, Mirrored Aviator Sunglasses (57)
by Lenskart Polarized, UV Protection Rectangular Sungla...
UV Protection Over-sized Sunglasses (60)
UV Protection, Mirrored Wayfarer Sunglasses (54)
Mirrored Aviator Sunglasses (55)
UV Protection Aviator Sunglasses (57)
UV Protection, Night Vision, Riding Glasses Wayfarer Su...
Others Wayfarer, Retro Square, Rectangular Sunglasses (...
Polarized, UV Protection Round Sunglasses (50)
UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Rectangular Sunglasses (55)
UV Protection Spectacle Sunglasses (Free Size)

In [96]:
price=driver.find_elements(By.CLASS_NAME,"_30jeq3")
for i in price[:40]:
    prices.append(i.text)
for i in prices:
    print(i)

₹579
₹397
₹280
₹282
₹519
₹149
₹214
₹199
₹149
₹149
₹519
₹149
₹108
₹999
₹497
₹179
₹129
₹129
₹649
₹179
₹299
₹342
₹699
₹391
₹579
₹196
₹283
₹423
₹125
₹679
₹270
₹179
₹398
₹519
₹210
₹199
₹949
₹649
₹252
₹398
₹579
₹397
₹280
₹282
₹519
₹149
₹214
₹199
₹149
₹149
₹519
₹149
₹108
₹999
₹497
₹179
₹129
₹129
₹649
₹179
₹299
₹342
₹699
₹391
₹579
₹196
₹283
₹423
₹125
₹679
₹270
₹179
₹398
₹519
₹210
₹199
₹949
₹649
₹252
₹398

In [97]:
print(len(prices),len(description),len(brand_name))

80 80 80

In [98]:
sleep(5)
next_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next_btn.click()

In [99]:
brands=driver.find_elements(By.CLASS_NAME,"_2WkVRV")
for i in brands[:20]:
    brand_name.append(i.text)
for i in brand_name:
    print(i)

PC STAR
SRPM
Fastrack
Elligator
Elligator
Fastrack
Elligator
Elligator
PHENOMENAL
LIZA ANGEL
SHAAH COLLECTIONS
ROZZETTA CRAFT
VINCENT CHASE
Elligator
SRPM
Elligator
PIRASO
PIRASO
SRPM
ROZZETTA CRAFT
New Specs
Fastrack
Fastrack
SRPM
ROZZETTA CRAFT
LIZA ANGEL
SUNBEE
ROZZETTA CRAFT
PIRASO
SRPM
EYELLUSION
Silver Kartz
PIRASO
LIZA ANGEL
PIRASO
ARICKS
VINCENT CHASE
ROZZETTA CRAFT
Fastrack
Eyewearlabs
Fastrack
PIRASO
Sewell
PC STAR
Fastrack
Elligator
PIRASO
SRPM
Elligator
Elligator
Fastrack
Elligator
NuVew
VINCENT CHASE
ROYAL SON
Elligator
New Specs
SUNBEE
ROZZETTA CRAFT
SRPM
Satyam Kraft
PIRASO
VINCENT CHASE
ROZZETTA CRAFT
Fastrack
kingsunglasses
SUNBEE
ROZZETTA CRAFT
NuVew
VINCENT CHASE
PIRASO
Elligator
ROYAL SON
Fastrack
LIZA ANGEL
SRPM
VINCENT CHASE
Fastrack
kingsunglasses
ROZZETTA CRAFT
NuVew
Fastrack
LIZA ANGEL
PC STAR
NuVew
Fastrack
VINCENT CHASE
SRPM
GANSTA
EYELLUSION
Fastrack
Elligator
Fastrack
SUNBEE
kingsunglasses
Resist
Fastrack
MGKNYAH
kingsunglasses
SRPM

In [100]:
descript=driver.find_elements(By.CLASS_NAME,"IRpwTa")
for i in descript[:20]:
    description.append(i.text)
for i in description:
    print(i)

Riding Glasses, UV Protection Retro Square Sunglasses (...
UV Protection Wayfarer Sunglasses (53)
UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Cat-eye, Retro Square, Oval, Round Sungla...
UV Protection Cat-eye, Retro Square, Oval, Round Sungla...
UV Protection Rectangular Sunglasses (Free Size)
UV Protection Round Sunglasses (54)
UV Protection Wayfarer Sunglasses (53)
UV Protection Retro Square Sunglasses (53)
Riding Glasses, Night Vision Spectacle Sunglasses (Fre...
UV Protection, Polarized, Mirrored Rectangular Sunglass...
UV Protection, Gradient Round Sunglasses (Free Size)
UV Protection Wayfarer Sunglasses (59)
UV Protection Round Sunglasses (53)
UV Protection Wayfarer Sunglasses (50)
UV Protection, Mirrored Wayfarer Sunglasses (54)
UV Protection Aviator Sunglasses (58)
UV Protection Rectangular Sunglasses (52)
Night Vision, UV Protection Round Sunglasses (54)
UV Protection, Gradient Rectangular Sunglasses (Free Si...
UV Protection Rectangular Sunglasses (Free Size)
Gradient, UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Aviator Sunglasses (Free Size)
Others Wayfarer, Retro Square, Rectangular Sunglasses (...
UV Protection Aviator Sunglasses (55)
UV Protection, Polarized Rectangular Sunglasses (Free S...
UV Protection Rectangular Sunglasses (Free Size)
UV Protection Spectacle Sunglasses (Free Size)
UV Protection Aviator Sunglasses (54)
Others Wayfarer, Retro Square Sunglasses (50)
Night Vision, Polarized, UV Protection, Riding Glasses ...
UV Protection Aviator Sunglasses (88)
UV Protection Clubmaster Sunglasses (54)
Riding Glasses, UV Protection, Night Vision Spectacle ...
UV Protection Aviator Sunglasses (Free Size)
UV Protection, Polarized Rectangular Sunglasses (Free S...
by Lenskart Polarized, UV Protection Aviator Sunglasses...
Polarized, Riding Glasses Sports, Wrap-around Sunglasse...
UV Protection Wayfarer Sunglasses (Free Size)
Polarized, UV Protection Aviator Sunglasses (60)
UV Protection Wayfarer Sunglasses (Free Size)
Polarized Wrap-around Sunglasses (45)
Mirrored, Night Vision, UV Protection, Riding Glasses S...
Riding Glasses, UV Protection Retro Square Sunglasses (...
UV Protection Wayfarer Sunglasses (Free Size)
Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)
UV Protection Wayfarer Sunglasses (32)
UV Protection Wayfarer Sunglasses (53)
UV Protection Aviator, Wayfarer Sunglasses (54)
UV Protection Round Sunglasses (53)
Gradient, UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Round Sunglasses (53)
UV Protection, Mirrored Wayfarer Sunglasses (58)
Polarized, UV Protection Round Sunglasses (51)
UV Protection Rectangular, Retro Square Sunglasses (58)
UV Protection Wayfarer Sunglasses (53)
UV Protection Retro Square Sunglasses (Free Size)
UV Protection Rectangular Sunglasses (Free Size)
UV Protection Aviator Sunglasses (62)
Riding Glasses, Mirrored Wayfarer Sunglasses (54)
Others Spectacle Sunglasses (Free Size)
UV Protection Over-sized Sunglasses (65)
by Lenskart Polarized, UV Protection Aviator Sunglasses...
UV Protection, Gradient Round Sunglasses (Free Size)
UV Protection Shield Sunglasses (Free Size)
UV Protection Rectangular Sunglasses (Free Size)
UV Protection, Polarized Wayfarer Sunglasses (Free Size...
UV Protection, Gradient Rectangular Sunglasses (Free Si...
UV Protection, Mirrored Aviator Sunglasses (57)
by Lenskart Polarized, UV Protection Rectangular Sungla...
UV Protection Over-sized Sunglasses (60)
UV Protection, Mirrored Wayfarer Sunglasses (54)
Mirrored Aviator Sunglasses (55)
UV Protection Aviator Sunglasses (57)
UV Protection, Night Vision, Riding Glasses Wayfarer Su...
Others Wayfarer, Retro Square, Rectangular Sunglasses (...
Polarized, UV Protection Round Sunglasses (50)
UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Rectangular Sunglasses (55)
UV Protection Spectacle Sunglasses (Free Size)
UV Protection, Mirrored Aviator Sunglasses (57)
UV Protection Wayfarer Sunglasses (Free Size)
UV Protection, Night Vision, Riding Glasses Wayfarer Su...
Riding Glasses, UV Protection Retro Square Sunglasses (...
UV Protection, Mirrored Aviator Sunglasses (58)
UV Protection Aviator Sunglasses (57)
Polarized, UV Protection Round Sunglasses (50)
UV Protection Wayfarer Sunglasses (53)
Gradient, UV Protection Aviator Sunglasses (57)
UV Protection, Riding Glasses, Gradient Aviator Sunglas...
Polarized Retro Square Sunglasses (Free Size)
UV Protection Wayfarer Sunglasses (53)
UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Aviator Sunglasses (Free Size)
UV Protection Rectangular Sunglasses (55)
Polarized Wayfarer Sunglasses (Free Size)
UV Protection Round Sunglasses (52)
UV Protection Aviator Sunglasses (Free Size)
UV Protection, Mirrored Round Sunglasses (Free Size)
Riding Glasses, Mirrored Wayfarer Sunglasses (54)

In [101]:
price=driver.find_elements(By.CLASS_NAME,"_30jeq3")
for i in price[:20]:
    prices.append(i.text)
for i in prices:
    print(i)

₹579
₹397
₹280
₹282
₹519
₹149
₹214
₹199
₹149
₹149
₹519
₹149
₹108
₹999
₹497
₹179
₹129
₹129
₹649
₹179
₹299
₹342
₹699
₹391
₹579
₹196
₹283
₹423
₹125
₹679
₹270
₹179
₹398
₹519
₹210
₹199
₹949
₹649
₹252
₹398
₹579
₹397
₹280
₹282
₹519
₹149
₹214
₹199
₹149
₹149
₹519
₹149
₹108
₹999
₹497
₹179
₹129
₹129
₹649
₹179
₹299
₹342
₹699
₹391
₹579
₹196
₹283
₹423
₹125
₹679
₹270
₹179
₹398
₹519
₹210
₹199
₹949
₹649
₹252
₹398
₹125
₹649
₹210
₹282
₹112
₹519
₹949
₹199
₹299
₹159
₹519
₹179
₹519
₹129
₹252
₹1,399
₹519
₹179
₹260
₹179

In [104]:
print(len(brand_name),len(description),len(prices))

100 100 100

In [105]:
import pandas as pd
df=pd.DataFrame({'Brand':brand_name,'Description':description,'Price':prices})
df

             Brand                                        Description   Price
0          PC STAR  Riding Glasses, UV Protection Retro Square Sun...    ₹579
1             SRPM             UV Protection Wayfarer Sunglasses (53)    ₹397
2         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹280
3        Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹282
4        Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹519
..             ...                                                ...     ...
95          Resist          Polarized Wayfarer Sunglasses (Free Size)  ₹1,399
96        Fastrack                UV Protection Round Sunglasses (52)    ₹519
97         MGKNYAH       UV Protection Aviator Sunglasses (Free Size)    ₹179
98  kingsunglasses  UV Protection, Mirrored Round Sunglasses (Free...    ₹260
99            SRPM  Riding Glasses, Mirrored Wayfarer Sunglasses (54)    ₹179

[100 rows x 3 columns]

In [313]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [314]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [315]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART")

In [316]:
rating=[]
review_summary=[]
full_review=[]